{
  "presets": ["react-native", "react-native-dotenv"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./src/components",
          "utils": "./src/utils",
          "containers": "./src/containers",
          "static": "./static"
        }
      }
    ]
  ]
}
